.a{
    display: flex;
    height: 100vh;
    align-items: center;
    
}
.a-left{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
    
    height: 100%;
}
.a-right{
    flex: 1;
}
.a-card{
    width: 50%;
    height: 70vh;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.a-card.bg{
    background-color: rgb(66, 66, 66);
    position: absolute;
    top: 50px;
    left: 100px;
    
}
.a-img{

    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 10px;
}
.a-awardimg{
   width: 200px;
   height: 200px;
   padding:20px 30px 20px 0px; 
}
.a-award{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.a-para{
padding:0 5%;
  
}

@media screen and (max-width:480px){
   .a{ 
       display: flex;
       flex-direction: column;
   }   
   .a-left{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
    margin-top: 20%;
    width: 100%;
   
} .a-img{
    
    width: 200;
    height: 80%;
    background-size: cover;
    border-radius: 10px;
}
.a-card.bg, .a-awardimg{
    display: none;
    
}
.a-para{
    color: chartreuse;
    display: none;
    }
    .a-right{
        width: 80%;

    }
}