.p{
    width: 30%;
    height:40vh;
    margin: 20px 10px;
    border: 2px solid rgb(189, 189, 189);
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}

.p-browser{
    display: flex;
    align-items: center;
    height: 20px;
    background-color: rgb(95, 99, 107);
    position:sticky;
    z-index: 200;
}
.p-circle{

    margin-left: 2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: salmon;
    
}

.p-circle.p1{
    background-color: rgb(43, 209, 1);
}
.p-circle.p2{
    background-color: rgb(216, 231, 0);
}
.p-circle.p3{
    background-color: rgb(224, 97, 88);
}

.p-a{
    width: 100%;
    transition:all 250ms ease-in-out;
    transform: translateY(-30px);
    
    /* animation: move 5s ease-in-out infinite alternate; */

}
@keyframes move{
    25%{transform: translateY(-50px);}
    50%{transform: translateY(-100px);}
    75%{transform: translateY(-200px);}
    100%{transform: translateY(0px);}
}
.p-a:hover{
    transform: translateY(-100px);
    
}